
@{
    ViewBag.Title = "AccessDenied";
    Layout = null;
}

<h2>Bạn không có quyền sử dụng chức năng này! Vui lòng liên hệ quản trị viên để biết thêm thông tin chi tiết !!!</h2>
<button onclick="history.back()">Quay lại</button>

